body {
    padding: 1em 0.5em 50vh 0.5em;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

ul.naked>li {
    list-style-type: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 1.5rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}


.mb-0 {
    margin-bottom: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-2 {
    padding-bottom: 2em;
}

.pt-2 {
    padding-top: 2em;
}

.height-fit-content {
    height: fit-content;
}

.back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 1em;
    opacity: 0.75;
}

/* Theme Selector Styles */

#themeForm {
  margin: 0;
  margin-right: var(--pico-spacing);
}

#themeForm > label {
  margin: 0;
  font-size: 2em;
  transition: transform 0.2s ease;
}

#themeForm > label:hover {
  transform: scale(1.1);
}

/* Hide all labels by default */
#themeForm > label {
  display: none;
}

#themeForm input[type="radio"] {
  display: none;
}

/* Show only the next theme option based on current selection */
/* When light is checked, show dark */
#themeForm:has([value="light"]:checked) label:has([value="dark"]) {
  display: inline-block;
}

/* When dark is checked, show default */
#themeForm:has([value="dark"]:checked) label:has([value="default"]) {
  display: inline-block;
}

/* When default is checked (or nothing), show light */
#themeForm:has([value="default"]:checked) label:has([value="light"]),
#themeForm:not(:has([type="radio"]:checked)) label:has([value="light"]) {
  display: inline-block;
}