{{ define "main" }}
<content>
  {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages.ByTitle }}
    <li>
      {{ if .Params.link }}
        <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
      {{ else }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
    {{ end }}
  </ul>
  {{ if not .Data.Singular }}
    <div class="tags">
      {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
      {{ end }}
    </div>
  {{ end }}
</content>
{{ end }}